/* #region basic styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  line-height: 1.5;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  font-family: inherit;
}
/* #endregion basic styles */
/* #region header */

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 24px 0 23px;
}

.logo-accent {
  color: #4d5ae5;
}

.page-nav-link {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0 23px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-nav-link:hover,
.page-nav-link:focus {
  color: #404bbf;
}

.page-nav-link.active {
  color: #404bbf;
}
.page-nav-link.active::after {
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  position: absolute;
  bottom: -1px;
}

.contact-link {
  display: block;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  color: #434455;
  padding: 24px 0 23px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

.page-header .container {
  display: flex;
  align-content: center;
  column-gap: 76px;
}
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-links {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.flex-nav {
  display: flex;
  column-gap: 40px;
}

.flex-address {
  display: flex;
  column-gap: 40px;
}
/* #endregion header */
/* #region main title */

.main-title {
  background-color: #2e2f42;
}

.background-box {
  max-width: 1440px;
  padding: 188px 0;
  margin-left: auto;
  margin-right: auto;
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-title-text {
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}
.order-button {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}
/* #endregion main title */
/* #region section common styles*/

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
}

.list-item-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.list-item-descr {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.container {
  max-width: 1158px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding: 120px 0;
}

.social-link {
  display: flex;
  background-color: #4d5ae5;
  border-radius: 50%;
}

.social-link .icon {
  fill: #f4f4fd;
}

/* #endregion section common styles*/
/* #region features */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.flex-features {
  display: flex;
  column-gap: 24px;
  justify-content: center;
}

.features-item {
  width: calc((100% - 72px) / 4);
}

.features-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 112px;
  margin-bottom: 8px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background-color: #f4f4fd;
}
/* #endregion features */
/* #region team */

.block-team {
  background-color: #f4f4fd;
}

.flex-team {
  display: flex;
  column-gap: 24px;
  justify-content: center;
}

.member-card {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.member-card .info-container {
  padding: 32px 16px 32px 16px;
}

.member-card .social-links-box {
  display: flex;
  margin-top: 8px;
  justify-content: center;
  align-items: center;
  column-gap: 24px;
}

.list-member-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.list-member-descr {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}
.member-card .social-link {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.member-card .social-link:hover,
.member-card .social-link:focus {
  background-color: #404bbf;
}

/* #endregion team */
/* #region portfolio */

.flex-portfolio {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-card {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover,
.portfolio-card:focus {
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-card:hover .overlay,
.portfolio-card:focus .overlay {
  transform: translateY(0);
}
.portfolio-img {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  color: #f4f4fd;
  padding: 40px 32px;
  letter-spacing: 0.02em;
  font-size: 16px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card .info-container {
  padding: 32px 15px 31px 15px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

/* #endregion portfolio */
/* #region footer */

.page-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.page-footer .container {
  display: flex;
  align-items: baseline;
  column-gap: 120px;
  justify-content: space-between;
}

.page-footer .container-inner {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 80px;
}

.footer-content {
  display: block;
  width: 264px;
}

.footer-logo {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  margin-bottom: 16px;
}

.footer-text {
  display: block;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-social-media {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.footer-social-media .social-links-box {
  display: flex;
  margin-top: 16px;
  justify-content: center;
  align-items: center;
  column-gap: 16px;
}

.page-footer .social-link {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer .social-link:hover,
.page-footer .social-link:focus {
  background-color: #31d0aa;
}

.subscribe-box {
  display: block;
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.subscribe-items {
  display: flex;
  margin-top: 16px;
  align-items: flex-end;
  column-gap: 24px;
}

.subscribe-items input {
  display: block;
  width: 264px;
  height: 40px;
  padding: 0 16px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
.subscribe-items input::placeholder {
  color: #fff;
}

.subscribe-items input:hover,
.subscribe-items input:focus {
  border: 1px solid #31d0aa;
}

.subscribe-btn {
  display: flex;
  align-items: center;
  column-gap: 16px;
  width: 165px;
  height: 40px;
  padding-left: 24px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  border-radius: 4px;
  border: none;
  fill: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: #31d0aa;
}
/* #endregion footer */
/* #region modal overlay */
.modal-overlay {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}

.modal {
  position: relative;
  display: flex;
  padding: 72px 24px 24px 24px;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
  width: 408px;
  height: 80%;
  max-height: 584px;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow:
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  overflow-y: auto;
}

.close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #e7e9fc;
  fill: #2e2f42;
  transition:
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
  border: none;
  background-color: #404bbf;
  fill: #fff;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.contacts-form {
  display: flex;
  max-width: 360px;
  flex-direction: column;
  align-items: center;
}

.label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.input-box {
  position: relative;
  margin-bottom: 8px;
}

.input-field {
  width: 360px;
  height: 40px;
  padding-left: 38px;
  padding-right: 11px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #2e2f42;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-field:focus {
  border: 1px solid #4d5ae5;
  outline: none;
}

.input-box .icon {
  fill: #2e2f42;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-field:focus + .icon {
  fill: #4d5ae5;
}

.input-text {
  display: block;
  resize: none;
  width: 360px;
  height: 120px;
  padding: 8px 16px;
  overflow-y: auto;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #2e2f42;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-text::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.input-text:focus {
  border: 1px solid #4d5ae5;
  outline: none;
}

.accept-pvc-plc {
  display: flex;
  width: 100%;
  margin-top: 16px;
}

.privacy-policy {
  display: flex;
  column-gap: 8px;
  align-items: center;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.policy-linc {
  text-decoration: underline;
  color: #4d5ae5;
  transition: text-decoration 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-linc:hover,
.policy-linc:focus {
  text-decoration: none;
}

.customized-checkbox {
  display: flex;
  width: 16px;
  height: 16px;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  fill: transparent;
  background-color: transparent;
  transition:
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .privacy-policy .customized-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.checkbox:focus + .privacy-policy .customized-checkbox {
  border: 1px solid #404bbf;
}

.send-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 169px;
  height: 56px;
  margin-top: 24px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-btn:hover,
.send-btn:focus,
.send-btn:active {
  background-color: #404bbf;
  cursor: pointer;
}

/* #endregion modal overlay */
