/* #region basic styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  line-height: 1.5;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  font-family: inherit;
}
/* #endregion basic styles */
/* #region header */

.page-header .container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color: aqua;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 16px 0;
}

.logo-accent {
  color: #4d5ae5;
}

.header-links {
  display: none;
}

.burger {
  display: flex;
  justify-content: center;
  align-items: center;
}
.burger .icon {
  fill: #2f2f37;
}

/* #endregion header */
/* #region main title */

/* #endregion main title */
/* #region section common styles*/

/* .section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
}

.list-item-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.list-item-descr {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
} */

.container {
  max-width: 320px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

/*
.section {
  padding: 120px 0;
}

.social-link {
  display: flex;
  background-color: #4d5ae5;
  border-radius: 50%;
}

.social-link .icon {
  fill: #f4f4fd;
} */

/* #endregion section common styles*/
/* #region features */

/* #endregion features */
/* #region team */

/* #endregion team */
/* #region portfolio */

/* #endregion portfolio */
/* #region footer */

/* #endregion footer */
/* #region modal overlay */

/* #endregion modal overlay */

/* ###### Styles for Tablet ###### */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  /* #region header */

  .page-header .container {
    column-gap: 120px;
  }
  .burger {
    display: none;
  }
  .header-links {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }
  .flex-nav {
    display: flex;
    column-gap: 40px;
  }

  .page-nav-link {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0 24px;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .page-nav-link:hover,
  .page-nav-link:focus {
    color: #404bbf;
  }

  .page-nav-link.active {
    color: #404bbf;
  }
  .page-nav-link.active::after {
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
    position: absolute;
    bottom: 0;
  }

  .flex-address {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    justify-content: center;
    height: 100%;
  }

  .contact-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    font-style: normal;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-link:hover,
  .contact-link:focus {
    color: #404bbf;
  }
}

/* #endregion header */

/* #######  Styles for Desktop ###### */

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  /* #region header */

  .page-header .container {
    column-gap: 76px;
  }
  .page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow:
      0 1px 6px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16),
      0 2px 1px 0 rgba(46, 47, 66, 0.08);
  }
  .flex-address {
    flex-direction: row;
    column-gap: 40px;
    align-items: center;
  }

  .contact-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/* #endregion header */
